*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 300vh;
}

.container {
  width: 800px;
  height: 300px;
  border: 1px solid #777;
  overflow: hidden;
  position: relative;
  transform: translateY(100px);
}

.curs {
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
}
